@use "../../../presets" as *;
@use "../../../mixins" as *;

.experience{
    background: $color-primary;

    padding-top: 80px;
    padding-bottom: 80px;

    &__container{
        @extend %container;
    }
}