$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;

$color-white: #ffffff;
$color-black: #000000;

$color-accent: #f0145a;

$color-active: #24a3ff;
$color-active-hover: #0084ff;
$color-active-active: #006ccf;

$color-gray: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-text: #b3b3ba;
$color-gray-separator: #e6e6f0;

$bg-gradient-accent: linear-gradient(128.63deg, $color-primary 0%, $color-primary 73.96%, #a54b5f 100%);
$bg-gradien-soft: linear-gradient(42.01deg, $color-primary 14.33%, $color-primary 51.39%, #7a425e 87.53%);
$bg-gradien-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$bg-gradien-supersoft: linear-gradient(228.57deg, $color-primary 11.93%, #323264 57.17%, #643e72 87.46%);