@use "../presets" as *;
@use "../mixins" as *;

*
*::before
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-primary;
    font-size: $font-size;
}

body {
    line-height: 1.2;
    font-weight: $font-weight;


    &.active {
        transform: translateX(-$mobile-menu-size);
        overflow: hidden;
        width: 100vw;
        height: 100vh;

        &::before {
            background-color: rgba($color-black, 0.5%);
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    }
}

a {
    text-decoration: none;
    color: $color-active;
}

ul {
    @include unlist();
    padding: 0;
}
h3, h2{
    margin: 0;
}
p{
    margin: 0;
}